sudo: required
language: c
os:
  - linux
compiler: gcc -std=c99
  
before_install:
  - sudo apt-get install check lcov

before_script:  
  - cmake .

script: 
  - make -std=99
  - make test
  - lcov --directory . --capture --output-file coverage.info

after_success:
- bash <(curl -s https://codecov.io/bash)
